body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 21px;
    font-family: 'Inter';
    background-color: rgb(240, 238, 238);
    overflow: hidden;
}

#container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 80vh;
}

#headpart img {
    height: 85px;
    margin: 20px 0 0 20px;
}

main {
    position: relative;
    display: flex;
    flex-direction: column;   
    justify-content: space-between;
    align-items: center;
    background-color: white;
    padding: 1.5rem 2rem 1.5rem 2rem;
    border-radius: 1rem;
    margin-top: -15vh;
    height: 25vh;
    width: 28vw;
}

main h1 {
    font-size: 36px;
    display: flex;
    margin: 0 0 -1.5rem 0;
    justify-content: center;
}

main p {
    font-size: 16px;
    width: 80%;
    text-align: center;
    margin-bottom: 2rem;
}

.backBtn {
    position: absolute;
    top: 1.5rem;
    left: 1.5rem;
    cursor: pointer;    
}

#borderBottom {
    width: 10%;
    border-radius: 1rem;
    border-bottom: 2px solid rgb(67, 178, 247);
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 90%;
}

input[type="password"] {
    padding: 0 1rem 0 1rem;
    background: url(./assets/img/password_icon.png) no-repeat;
    background-position: 97%;
    width: 55%;
    border-radius: .5rem;
    border: 1px solid lightgray;
    height: 2rem;
    margin-bottom: 1.5rem;
    cursor: pointer;
}

#confirmBtn{
    height: 40px;
    padding: 0 2rem 0 2rem;
    border-radius: 8px;
    border: none;
    background: #2A3647;
    gap: 10px;
    color: #FFFFFF;
    font-weight: 700;
    font-size: 16px;
    cursor: pointer;
}

#confirmBtn:hover {
    background-color: rgb(67, 178, 247);
}

#confirmAnimation {
    background-color: #2A3647;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0px 20px;
    gap: 13px;
    width: 250px;
    height: 60px;
    box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.15);
    border-radius: 20px;
    color: white;
    transform: translateY(600px);
    }
    
    #confirmAnimation img {
        height: 30px;
        width: 30px;
    }
    
    .animate {
        transform: translateY(-135px) !important;
        transition: all 1s ease-in-out;
        z-index: 999;
    }

    .overlay {
        position: absolute;
        background-color: #2A3647;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        z-index: 2;
    }

    .d-none {
        display: none !important; 
    }

@media (max-width: 500px) {
    #resetPwContainer {
        height: 50vh;
        width: 80vw !important;
    }

    main h1 {
        margin: 0 0 -5rem 0 !important;
    }

    .backBtn {
        scale: .8;
    }

    #resetPwHeadline {
        font-size: 32px;
    }

    #borderBottom {
        width: 25%;
    }

    #confirmBtn {
        margin-top: 2rem;
    }
}

@media (max-width: 1500px) {
    #resetPwContainer {
        height: 50vh;
        width: 45vw;
    }

    main h1 {
        margin: 0 0 -3.5rem 0;
    }

    main p {
        margin: 0;
    }
}